<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="icon" href="{{ url_for('static', filename= 'img/icon.png') }}" type="image/png">
        <title>Travel Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
<body>

  
    <header>
        <nav>
            <div class="logo">
                <a href="{{ url_for('index') }}"><span>Ex</span><span class="logo-highlight">plore</span></a>
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about')}}">About</a></li>
                <li><a href="{{ url_for('destinations')}}">Destinations</a></li>
                
                <li><a href="{{ url_for('new_post') }}">Posted Blog</a></li>
        {% if current_user.is_admin %}
            <li><a href="{{ url_for('post_blog') }}">Create Blog</a></li>  <!-- Only admins see this link -->
        {% endif %}
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
        {% else %}
            <li><a href="{{ url_for('register') }}">LogIn/SignUp</a></li>
        {% endif %}
            </ul>
            <div class="hamburger">
                <div></div>
                <div></div>
            </div>
        </nav>
        
        
    </header>
    <section class="post-list">
        {% if posts %}
            {% for post in posts %}
            <div class="post-content">
                <h2>{{ post.title }}</h2>
                <p>Written by <span class="logo-highlight">{{ post.author.username }}</span></p>
                <p class="post-describe">{{ post.content[:300] }}...</p> <!-- Display truncated content -->
                <div>
                    <a href="{{ url_for('readmore', post_id=post.id) }}">Read More</a> <br>
                    <br>
                    <a href="{{ url_for('edit_post', post_id=post.id) }}">Edit Post</a>
                </div>
                {% if post.image_path %}
                    <img class="post-image" src="{{ url_for('static', filename=post.image_path) }}" alt="Post Image">
                {% endif %}
                <div class="dashed-line"></div>
            </div>
            {% endfor %}
        {% else %}
            <p>No posts available.</p>
        {% endif %}
    </section>
    
<div class="div-top">
    <a href="#" class="top">Back to Top &#8593;</a>
</div>
    


  
  


 
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
